body {background-color: white;}
.blue {
                color: blue;
            }

#blue
{
color : blue;
font-style : oblique;
}
#red
{
color : red;
}

h1
{
color : Black;
font-style : oblique;
border: 5px solid yellow;
}

.image {
  border: 6px black dotted;
  padding: 5px;
}
.image:hover {
  border: 6px red solid;
}

#TT {
  text-align: center;
}

.Ime {
  border: 5px outset red;
  background-color: lightblue;
  text-align: center;
}